/* shared styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: rgb(189, 243, 243); */
}

.div-clear {
    content: "";
    display: table;
    clear: both;
}

.btn-primary {
    color: #fff;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    cursor: pointer;
}


/* header style starts here */
header {
    
    background-position: bottom right;
    padding: 50px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item ul {
    display: flex;
    align-items: center;
}

.nav-item ul li {
    padding: 0 20px;
}

.btn-primary {
    color: #fff;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    cursor: pointer;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.banner-content {
    padding-right: 20px;
    width: 50%;
}

.banner-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #3A3A3A;
}

.banner-description {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.banner-img {
    background-image: url('images/Circle\ design.svg');
    background-repeat: no-repeat;
    /* background-size: contain; */
    width: 50%;
}

/* sponsor section starts here */
.sponsor {
    margin: 60px auto 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;

}
/* sponsor section ends here */

/* collection section starts here */
.collections {
    max-width: 1000px;
    margin: 100px auto 0 auto;

}

.section-title {
    font-size: 1.75rem;
    font-weight: 699;
    text-align: center;
    margin-bottom: 30px;
}

.collections-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.collection-item {
    padding: 14px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.item-img {}

.item-heading {
    color: #18191F;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 6px;
}

.item-price {
    font-family: Inter;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.item-rating {
    font-family: Roboto;
    color: #5E6366;
    margin-bottom: 5px;
}

.collection-item p {
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%; /* 20.02px */
    letter-spacing: 0.252px;
}

.see-more-text {
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    text-align: right;
    margin-top: 50px;
}


/* collection section ends here */
/* features section starts here */
.features {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.features-img {
    width: 40%;
}

.features-content {
    width: 60%;
}

.feature-title {
    font-family: Poppins;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.feature-description {
    font-family: Poppins;
    font-weight: 700;
    margin-bottom: 10px;
}

.features button {
    border-radius: 0;
}

.features button span {
    margin-left: 5px;
}
/* features section ends here */

/* footer section starts here*/
footer {
    background: #0A0826;
    padding: 50px 0;
    
}

.footer-content {
    text-align: center;
}

footer h5 {
    color: #FFF;
font-family: Poppins;
font-size: 1.5rem;
font-weight: 700;
}

footer p {
    color: #D9DBE1;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}

.media-links {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.media-links a {
    color: #fff;
}
/* footer section ends here*/

/* header style ends here */





/* responsive design starts here */
/* for mobile devices */
@media screen and (max-width: 576px) {
    nav, .nav-item, .nav-item ul {
        flex-direction: column;
    }

    .nav-item ul li {
        padding: 20px 0;
    }

     .banner {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner-content {
    text-align: center;
}

    .banner-img {
        width: 100%;
        padding: 30px;
    }

    .banner-content {
        width: 100%;
        padding: 20px 30px;
    }

    .sponsor {
    flex-wrap: wrap;
    padding: 30px;

}

    .collections-item-container {
        grid-template-columns: 1fr;
    }

    .collection-item {
        margin: 0 auto;
    }

    .features {
        flex-direction: column-reverse;
    }
    
    .features-img {
        width: 100%;
        padding: 0 30px;
        
    }
    
    .features-content {
        width: 100%;
        padding: 0 30px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 920px) {
    .banner {
        flex-direction: column-reverse;
    }

    .banner-content {
        width: 100%;
        padding: 20px 30px;
    }

    .banner-img, .collection-item {
        width: 100%;
    }

    .collections-item-container {
        grid-template-columns: 1fr;
    }
}
/* responsive design ends here */



